<footer class="w-/12 h-10/12 bg-amber-600 flex flex-col">
  <div class="top w-3/12 flex">
    <div class="left flex justify-start">
      <div class="logo h-12/12 w-2/12 flex justify-between">
        <div class="logo__container w-full flex flex-center gap-4">
          <div class="logo__pic bg-black h-12 w-12 rounded-2xl"></div>
          <h2 class="logo__text mt-3 font-main text-4xl font-bold">ThaiPay</h2>
        </div>
      </div>
    </div>
    <div class="middle flex gap-10 w-6/12">
      <div class="first flex flex-col gap-3">
        <h1 class="text-2xl font-medium">Solutions</h1>
        <h1 class="text-xl">Small businesses</h1>
        <h1 class="text-xl">Freelancers</h1>
        <h1 class="text-xl">Customers</h1>
        <h1 class="text-xl">Taxes</h1>
      </div>
      <div class="second">
        <h1 class="text-2xl font-medium">Solutions</h1>
        <h1 class="text-xl">Small businesses</h1>
        <h1 class="text-xl">Freelancers</h1>
        <h1 class="text-xl">Customers</h1>
        <h1 class="text-xl">Taxes</h1>
      </div>
      <div class="third">
        <h1 class="text-2xl font-medium">Solutions</h1>
        <h1 class="text-xl">Small businesses</h1>
        <h1 class="text-xl">Freelancers</h1>
        <h1 class="text-xl">Customers</h1>
        <h1 class="text-xl">Taxes</h1>
      </div>
    </div>
    <div class="right w-3/12"></div>
  </div>
  <div class="bottom"></div>
</footer>
