<section class="h-lvh bg-beigeMain">
  <app-navbar class="sticky top-0 z-40"></app-navbar>
  <div class="hero h-svh flex justify-evenly items-center">
    <div class="hero__leftw-5/12 h-10/12 flex flex-col flex-center">
      <div class="hero__left__container flex flex-col justify-start gap-3">
        <h1 class="text-6xl/15">
          <span class="text-8xl font-medium">Get paid early</span>
          <br />
          save automatically <br />all your pay.
        </h1>
        <p class="text-xl/relaxed font-light text-black mt-10">
          Support small businessses with simple invoicing,<br />
          powerful integrations, crash flow management tools.
        </p>
        <div
          class="input bg-gray-100 mt-7 w-10/12 h-15 flex justify-between rounded-2xl"
        >
          <input
            type="text"
            placeholder="Your business email"
            class="placeholder:opacity-50 ml-5 grow focus:outline-0"
          />
          <button
            class="bg-orangeMain p-3 flex flex-center gap-2 text-xl font-normal"
          >
            Get started
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"
              />
            </svg>
          </button>
        </div>
        <div class="icon__row h-6/12 w-full flex justify-start items-center">
          <div class="w-10/12 h-10/12 flex justify-between items-center">
            <img src="fitbit.svg" alt="" class="h-30" />
            <img src="tesla.svg" alt="" class="h-30 mt-2" />
            <img src="uber.svg" alt="" class="h-30 mt-2" />
          </div>
        </div>
      </div>
    </div>
    <div class="hero__right bg-blue-300 w-5/12 h-10/12">hi</div>
  </div>
</section>
