<section class="h-lvh w-full mt-20 px-25 pt-10 bg-amber-500">
  <div class="title flex flex-col gap-5 flex-center">
    <p class="uppercase text-blueMain text-xl font-normal">why us</p>
    <h1 class="text-5xl">Why they prefer ThaiPay</h1>
  </div>
  <div class="top mt-10 h-5/12 flex justify-center gap-10 bg-pink-400">
    <div class="left h-full w-5/12 bg-green-400">
      <h1 class="text-9xl font-bold text-blueMain">3k+</h1>
      <h2 class="text-4xl">Businesses already running on ThaiPay</h2>
    </div>
    <div class="right h-full w-5/12 bg-green-400">
      <h2 class="text-4xl">Businesses already running on ThaiPay</h2>
    </div>
  </div>
  <div class="bottom h-5/12 bg-purple-400"></div>
</section>
