<section class="h-lvh w-full mt-20 px-25 pt-10">
  <div class="title flex flex-col gap-5 flex-center">
    <p class="uppercase text-blueMain text-xl font-normal">why us</p>
    <h1 class="text-5xl">Why they prefer ThaiPay</h1>
  </div>
  <div class="top mt-10 h-5/12 flex justify-center gap-10">
    <div
      class="left h-full w-5/12 p-15 flex flex-col justify-around bg-white rounded-3xl shadow-sm shadow-orangeLight"
    >
      <h1 class="text-9xl font-bold text-blueMain">3k+</h1>
      <h2 class="text-4xl">Businesses already running on ThaiPay</h2>
    </div>
    <div
      class="right h-full w-5/12 p-15 flex flex-col justify-around bg-white rounded-3xl shadow-sm shadow-orangeLight"
    >
      <h2 class="text-4xl">Instant Withdraw your funds at any time</h2>
      <div class="pics flex flex-center gap-10">
        <img src="p1.svg" alt="person's account" class="h-30" />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-20"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"
          />
        </svg>
        <img src="p2.svg" alt="bank's account" class="h-30" />
      </div>
    </div>
  </div>
  <div class="bottom h-5/12 mt-10 flex flex-center">
    <div
      class="bottom__inner w-325 h-full flex bg-white rounded-3xl shadow-sm shadow-orangeLight"
    >
      <div
        class="left h-full w-1/3 flex flex-col justify-center items-start gap-2 p-10"
      >
        <h1 class="text-4xl">No assets volatility</h1>
        <h2 class="text-xl font-light">
          Generate returns on your cash reserves without making any investments.
        </h2>
      </div>
      <div class="right h-full w-2/3 flex justify-center items-end">
        <div
          class="graph__card w-10/12 h-85 flex flex-col items-center bg-white rounded-t-3xl shadow-[0_-1px_5px_rgba(0,0,0,0.1),_-1px_0_5px_rgba(0,0,0,0.1),1px_0_5px_rgba(0,0,0,0.1)]"
        >
          <div class="top p-6 h-3/12 w-full flex justify-between">
            <div class="top_right">
              <h1 class="text-lg">Summary</h1>
              <h1 class="text-3xl font-semibold">฿1,876,580</h1>
            </div>
            <h1 class="flex">
              6 months<svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m19.5 8.25-7.5 7.5-7.5-7.5"
                />
              </svg>
            </h1>
          </div>
          <div class="middle px-6 w-full h-10/12">
            <div
              class="grap_clip w-full h-full bg-blueMain border-t-6 border-t-blueMain bg-gradient-to-b from-blueMain to-white"
            >
              hi
            </div>
          </div>
          <div
            class="bottom w-11/12 flex justify-around border-t-2 border-t-gray-300"
          >
            <p class="text-lg text-gray-500">Jan</p>
            <p class="text-lg text-gray-500">Feb</p>
            <p class="text-lg text-gray-500">Mar</p>
            <p class="text-lg text-gray-500">Apr</p>
            <p class="text-lg text-gray-500">May</p>
            <p class="text-lg text-gray-500">Jun</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
