<section class="hero__2 h-180 w-full flex flex-center">
  <div
    class="card w-10/12 h-full px-15 flex flex-col justify-center gap-15 bg-white rounded-3xl shadow-sm shadow-orangeLight"
  >
    <div class="card__top h-4/12 flex justify-around items-center gap-20">
      <div class="left w-6/12">
        <h6 class="uppercase font-semibold text-blueMain">future payments</h6>
        <h1 class="text-6xl font-medium leading-15">
          Experience that grows with your scale.
        </h1>
      </div>
      <div class="right w-4/12">
        <p class="text-2xl font-light">
          Design a financial operating system that works for your bussiness and
          streamlined cash flow management.
        </p>
      </div>
    </div>
    <div class="card__bottom h-5/12 flex">
      <div
        class="left p-5 h-full w-4/12 flex flex-col gap-2 justify-center items-baseline"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ff7601"
          class="size-18"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z"
          />
        </svg>
        <h5 class="text-3xl font-medium mt-5">Multiple account</h5>
        <p class="text-xl font-light">
          Run your operations with cash from your accont and generate yield on
          funds stored in your account.
        </p>
      </div>
      <div
        class="middle p-5 h-full w-4/12 flex flex-col gap-2 justify-center items-baseline"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ff7601"
          class="size-18"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"
          />
        </svg>
        <h5 class="text-3xl font-medium mt-5">Free transfers</h5>
        <p class="text-xl font-light">
          Create a financial experienceay and automate repeat purchases by
          scheduling recurring payments.
        </p>
      </div>
      <div
        class="right p-5 h-full w-4/12 flex flex-col gap-2 justify-center items-baseline"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ff7601"
          class="size-18"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z"
          />
        </svg>
        <h5 class="text-3xl font-medium mt-5">Unmatched security</h5>
        <p class="text-xl font-light">
          Securely manage your finances with organization-wide MFA,
          card-locking, and account-level controls.
        </p>
      </div>
    </div>
  </div>
</section>
