<section class="h-lvh">
  <div class="main bg-blueMainDark h-10/12 mt-50 flex flex-center">
    <div class="main__inner h-11/12 w-5/6 flex flex-col justify-around">
      <div class="text flex flex-col justify-end items-start h-2/6">
        <h1 class="uppercase text-xl font-medium text-blueMain">Steps</h1>
        <h1 class="mt-5 text-6xl w-8/12 text-white">
          Maximize your returns with a Reserve account that generates.
        </h1>
      </div>

      <div class="cards h-3/6 flex justify-between items-center gap-8 w-full">
        <div
          class="card__1 h-10/12 p-5 flex flex-col justify-betweenitems-start bg-white/20 rounded-3xl"
        >
          <h1
            class="text-9xl text-transparent bg-gradient-to-b from-white to-blueMainDark bg-clip-text"
          >
            1
          </h1>
          <div class="flex flex-col items-start pl-5">
            <h1 class="text-white text-3xl font-normal">Open your account</h1>
            <p class="text-xl text-gray-400">
              Sign up to finpay and set up your account from the dashboard.
            </p>
          </div>
        </div>
        <div
          class="card__2 h-10/12 p-5 flex flex-col justify-betweenitems-start bg-white/20 rounded-3xl"
        >
          <h1
            class="text-9xl text-transparent bg-gradient-to-b from-white to-blueMainDark bg-clip-text"
          >
            2
          </h1>
          <div class="flex flex-col items-start pl-5">
            <h1 class="text-white text-3xl font-normal">
              Transfer your mooney
            </h1>
            <p class="text-xl text-gray-400">
              Move money from to another account into and start to earning up.
            </p>
          </div>
        </div>
        <div
          class="card__3 h-10/12 p-5 flex flex-col justify-betweenitems-start bg-white/20 rounded-3xl"
        >
          <h1
            class="text-9xl text-transparent bg-gradient-to-b from-white to-blueMainDark bg-clip-text"
          >
            3
          </h1>
          <div class="flex flex-col items-start pl-5">
            <h1 class="text-white text-3xl font-normal">
              Watch your balance grow
            </h1>
            <p class="text-xl text-gray-400">
              Accessed instantly and remain insulated from market volatility.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
