<section
  class="h-lvh mt-35 relative flex flex-col justify-between items-center"
>
  <div
    class="card flex justify-center h-6/12 w-11/12 bg-blueMainDark rounded-3xl"
  >
    <div class="text flex flex-col gap-5 justify-center p-20 h-full w-6/12">
      <h1 class="uppercase text-blueMain font-medium ml-1">Try it now</h1>
      <h1 class="text-white text-6xl">
        Ready to level up your payment process?
      </h1>
      <p class="text-gray-400 text-lg">
        Supports small businesses with simple invoicing, powerful integrations,
        and cash flow management tools.
      </p>
    </div>
    <div class="buttons h-full w-6/12 flex flex-center gap-6">
      <button class="h-20 w-4/12 border-0 bg-blueMain text-white text-xl">
        Get Started Now
      </button>
      <button
        class="h-20 w-4/12 flex flex-center gap-3 border-white text-white text-xl"
      >
        Learn More<svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2.5"
          stroke="#ffffff"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"
          />
        </svg>
      </button>
    </div>
  </div>
  <app-footer class="w-11/12 h-5/12 flex flex-col justify-end"></app-footer>
</section>
