<nav class="bg-neutral-100 h-1/12 flex justify-around">
  <div class="logo h-12/12 w-2/12 flex justify-between">
    <div class="logo__container w-full flex flex-center gap-4">
      <div class="logo__pic bg-black h-12 w-12 rounded-2xl"></div>
      <h2 class="logo__text mt-3 font-main text-4xl font-bold">ThaiPay</h2>
    </div>
  </div>

  <div class="links ml-8 flex flex-center w-4/12">
    <div class="mt-2 flex justify-around w-full">
      <a class="font-main font-semibold text-xl">Products</a>
      <a class="font-main font-semibold text-xl">Pricing</a>
      <a class="font-main font-semibold text-xl">Customers</a>
      <a class="font-main font-semibold text-xl">Learn</a>
    </div>
  </div>

  <div class="login w-3/12 flex justify-end items-center">
    <div class="w-6/12 h-6/12 mt-2 flex justify-around gap-3">
      <button class="login_b">Log In</button>
      <button class="signup_b bg-blueMain border-blueMain text-neutral-100">
        Sign Up
      </button>
    </div>
  </div>
</nav>
