<section class="h-lvh">
  <div class="top flex flex-col justify-center items-center gap-15">
    <div class="text w-6/12 flex flex-col items-center gap-6">
      <h1 class="uppercase text-center text-blueMain text-xl font-medium">
        our mission
      </h1>
      <h1 class="text-6xl font-medium text-center">
        We'he helped innovative companies
      </h1>
      <p class="w-6/12 text-xl text-center text-gray-500">
        Hundreds of all sizes and across all industries have made a big
        improvements with us.
      </p>
    </div>
    <div class="text__bottom flex justify-center gap-25">
      <div class="text__block flex flex-col gap-3">
        <h1 class="text-7xl text-center font-medium">24%</h1>
        <h1 class="text-3xl">Revenue business</h1>
      </div>
      <div class="text__block flex flex-col gap-3">
        <h1 class="text-7xl text-center font-medium">180k</h1>
        <h1 class="text-3xl">In annual revenue</h1>
      </div>
      <div class="text__block flex flex-col gap-3">
        <h1 class="text-7xl text-center font-medium">10+</h1>
        <h1 class="text-3xl">Months of runway</h1>
      </div>
    </div>
  </div>
  <div class="bottom h-4/12 mt-30">
    <h1 class="uppercase text-center text-blueMainMid text-xl font-medium">
      choose plan
    </h1>
    <div class="cards mt-15 flex flex-center gap-15 h-full">
      <div
        class="card__1 h-full w-4/12 p-12 flex flex-col justify-between bg-radial from-orangeMain to-orangeLight to-75% rounded-3xl shadow-sm shadow-gray-400"
      >
        <h1 class="text-6xl font-medium">Plus</h1>
        <h1 class="flex justify-between text-3xl">
          ฿599/month
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            class="size-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"
            />
          </svg>
        </h1>
      </div>
      <div
        class="card__2 relative h-full w-4/12 p-12 flex flex-col justify-between rounded-3xl shadow-sm shadow-gray-400"
      >
        <h1 class="text-6xl font-medium text-white">Premium</h1>
        <h1 class="flex justify-between text-3xl text-white">
          ฿1499/month
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="#ffffff"
            class="size-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25"
            />
          </svg>
        </h1>
      </div>
    </div>
  </div>
</section>
